<h2>[{{ test_case.id }}] {{ test_case.title }}</h2>
<p>Author: {{ test_case.owner }}</p>
<p>Date Created: {{ test_case.date_created }}</p>
{% if test_case_steps %}
    <table>
        <tr>
            <th>Action</th>
            <th>Expected Result</th>
        </tr>
        {% for test_step in test_case_steps %}
            <tr>
                <td>{{ test_step.action }}</td>
                <td>{{ test_step.expected_result }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No test steps are available.</p>
{% endif %}